.container-calc{
	@include container (1140px);
	background-color: #232525;
	.input-calc{
		@include span (6);
		// border: 1px solid black;
		height: 400px;
		background-color: #232525;
		position: relative;
		text-align: center;
		color: #E50000;
		button.btn-apel{
			position:fixed;
			top: 100px;
			height: 45px;
			width: 125px;
			left: 450px;
			border: none;
			background-color: #E50000;
			color: white;
			&:hover{
				background-color: #FEC110;
			}
		}
		button.btn-jeruk{
			position:fixed;
			top: 100px;
			left: 600px;
			height: 45px;
			width: 125px;
			border: none;
			background-color: #E50000;
			color: white;
			&:hover{
				background-color: #FEC110;
				color:black;
			}
		}
		button.btn-mangga{
			position:fixed;
			top: 100px;
			left: 750px;
			height: 45px;
			width: 125px;
			border: none;
			background-color: #E50000;
			color: white;
			&:hover{
				background-color: #FEC110;
				color:black;
			}
		}
		button.btn-apelmin{
			position:fixed;
			top: 250px;
			left: 450px;
			height: 45px;
			width: 125px;
			border: none;
			background-color: #FEC110;
			color: black;
			&:hover{
				background-color: #E50000;
				color: white;
			}
		}
		button.btn-jerukmin{
			position:fixed;
			top: 250px;
			left: 600px;
			height: 45px;
			width: 125px;
			border: none;
			color:black;
			background-color: #FEC110;
			&:hover{
				background-color: #E50000;
				color: white;
			}
		}
		button.btn-manggamin{
			position:fixed;
			top: 250px;
			left: 750px;
			height: 45px;
			width: 125px;
			border: none;
			background-color: #FEC110;
			color:black;
			&:hover{
				background-color: #E50000;
				color: white;
			}
		}
	}
	.preview-calc{
		@include span (6);
		background-color: #eaeaea;
		position: relative;
		.apel{
			background-image: url("../images/apple.svg");
			height: 50px;
			width: 50px;
			float: left;
			margin: 5px 10px;
		}
		.jeruk{
			background-image: url("../images/orange.svg");
			height: 50px;
			width: 50px;
			float: left;
			margin: 5px 10px;
		}
		.mangga{
			background-image: url("../images/mango.svg");
			height: 50px;
			width: 50px;
			float: left;
			margin: 5px 10px;
		}
	}
	.hitung-reset{
		@include span (12);
		position:relative;
		i.btn-process{
			position: absolute;
			bottom: 0px;
			// margin-top: 50px;
			right: 10px;
			color: #E50000;
			cursor: pointer;
		}
		i.btn-reset{
			position: absolute;
			bottom: 50px;
			right: 10px;
			color: #E50000;
			cursor: pointer;
		}
	}
}

.output-calc{
	@include container(1140px);
	text-align:center;
	// border: 1px solid black;
	background-color: #eaeaea;
	height: 290px;
	h3{
		margin: 0px;
		margin-bottom: 20px;
		padding-top: 20px;
	}
	.hasil-all{
		@include span (12);
		.judul-output{
			// border: 1px solid black;
			height: 50px;
			line-height: 50px;
			font-weight: bold;
			background-color: #232525;
			color: white;
			letter-spacing: 10px;
		}
		.value-output{
			// border: 1px solid black;
			height: 140px;
			font-size: 120px;
			background-color: #58ADA9;
			color: #F0D200;
		}
		.hasil-apel{
			@include span (3);
			padding: 0px 30px;
			// border: 1px solid black;
			// height: 200px;
		}
		.hasil-jeruk{
			@include span (3);
			padding: 0px 30px;
			// border: 1px solid black;
			// height: 200px;
		}
		.hasil-mangga{
			@include span (3);
			padding: 0px 30px;
			// border: 1px solid black;
			// height: 200px;
		}
		.hasil-total{
			@include span (3);
			padding: 0px 30px;
			// border: 1px solid black;
			// height: 200px;	
		}
	}
}