.header{
    @include container;
    background-color: black;
    height: 50px;
    .navbar{
    	@include container(1140px);
    	background-color: black;
    	color: white;
    	text-align: center;
    	line-height: 50px;
    }
}

.content{
    @include container(1140px);
    background-color: #eaeaea;
}

.row{
	@include span (12 nest);
	.profile{
		@include span (3);
			height: 200px;
			.foto img{
				height: 200px;
				width: 280px;
			}
	}
	.info{
		@include span (9);
		height: 200px;
	}
	.showreel-list{
		@include span (12);
		ul{
			padding: 0px;
		}
		ul li{
			@include span (4);
			height: 170px;
			list-style-type: none;
			border: 1px solid black;
		}
	}
}