.product{
	@include span (12);
	ul{
		padding: 0px;
		// margin-left: auto;
	}
	ul li{
		@include span (1 of 5);
		// border: 1px solid black;
		list-style-type: none;
		text-align: center;
		padding:60px;
		position:relative;
		// margin: 1px;
		// height: 200px;
		i{
			// line-height: 200px;
		}
		p{
			@include span(12);
			// border:1px solid black;
			position: absolute;
			text-align: center;
			left:0;
			bottom: 0;
			// display: inline-block;
		}
		.fa-telegram{
			color: #4889f2;
		}
		.fa-twitch{
			color: purple;
		}
		.fa-whatsapp{
			color: green;
		}
		.fa-slack{
			color: grey;
		}
		.fa-skype{
			color: #4889f2;
		}
		.fa-bitbucket-square{
			color: darkblue;
		}
		.fa-github{
			color: #4889f2;
		}
		.fa-terminal{
			color: #0296f9;
		}
		.fa-html5{
			color: orange;
		}
		.fa-linux{
			color: grey;
		}
	}
}

.web-app-icon{
	@include container (1140px);
	// margin-top: 100px;	
	ul{
		padding: 0px;
	}
	ul li{
		@include span(1 of 6);
		list-style-type: none;
		text-align: center;
		height: 200px;
		border: 1px solid white;
		background-color: black;
		border-radius: 20px;
	}
	li:hover, i:hover{
		background-color: #4889f2;
		color: blue;
		transition: 0.5s;
	}
	ul span{
		color: white;
	}
	i{
		line-height: 200px;
	}
}

.coloum{
	@include container (1140px);
	.col{
		@include span (1 of 3 nest);
		display: inline-block;
		position: relative;
		height: 205px;
		// border: 1px solid black;
		.cols{
			// border: 1px solid black;
			height: 200px;
			width: 200px;
			text-align: center;
			background-color: green;
			position: absolute;
			left: 25%;
			border-radius: 10px;
			.nama{
				height: 25px;
				width: 120px;
				background-color: white;
				position: absolute;
				right: 40px;
				bottom: 10px;
				display: none;
				padding-top:10px;
				.nama-b{
					height: 25px;
					width: 113px;
					position: absolute;
					background-color:pink;
					bottom:4px;
					right: 3px;
					display: none;
				}
			}
		}
		&:hover{
			.cols{
				background-color: grey;
				transition: 0.5s;
			}
			.fa{
				color: red;
			}
			.nama{
				display: block;
				transition: 0.5s;
			&:hover{
					.nama-b{
						display: block;
					}
				}
			}
		}
		i{
			line-height: 200px;
		}
		.fa{
			color: white;
		}
	}
}

// .images-a{
// 	height: 200px;
// 	width: 300px;
// 	position: relative;
// 	border: 1px solid black;
// 	background-color: pink;
// 	}
// 	.figura{
// 		position: absolute;
// 		height: 200px;
// 		width: 300px;
// 		// display: none;
// 	}
// 	.figura:hover{
// 		display: block;
// 	}

.kotak1{
	height: 200px;
	width: 200px;
	background-color: wheat;
	position: relative;
	.kotak2{
		height: 30px;
		width: 80px;
		background-color: black;
		display: none;
		position: absolute;
		bottom: 0;
		left: 60px;
		.kotak3{
			height: 20px;
			width: 20px;
			background-color: red;
			display: none;
			position: absolute;
			left: 30px;
			bottom: 5px;
		}
	}
	&:hover{
		background-color: green;
		.kotak2{
			display: block;
			&:hover{
				.kotak3{
					background-color: white;
				}
			}
		.kotak3{
			display: block;
			
		}
		}
	}
}