// .wrapper-bg-top{
// 	@include span (12 nest);
// 		min-height: 100vh;
// 		// background-image: url("/rajaampat1.jpg");
// 		background-color: pink;
// 		background-size: 100% auto;
// 	@include susy-breakpoint ($tablet-size){
// 			background-size: auto 100%;
// 			background-color: blue;
// 		}
// 	@include susy-breakpoint($desktop-size){
// 			background-size: 100% auto;
// 			background-color: green;
// 	}
// }

.wrapper-bg-top{
	@include span (12 nest);
	min-height: 100vh;
	background-color: green;
	background-size: auto 100%;
	min-height: 100vh;
	background-image: url("/rajaampat1.jpg");
	background-position: center;

	@include susy-breakpoint($tablet-size){
		background-color: blue;
		background-image: url("/rajaampat2.jpg");
		background-size: auto 100%;
		background-position: center;
		.description h1{
			margin-top: 100px;
			text-align: center;

		}
		.description p{
			text-align: center;
		}
	}
	@include susy-breakpoint($desktop-size){
		background-color: pink;
		background-image: url("/rajaampat3.jpg");
		background-size: 100% auto;
		.description h1 {
			@include span(3);
			color: #eaeaea;
			background-color: rgba(255, 255, 255, 0.5);
			font-size: 300%;
			margin: 0;
		}
		.description p {
			@include span (5);
			font-size: 25px;
			background-color: rgba(255, 255, 255, 0.5);
			height: 110px;
			margin: 0;
			border-left: 10px solid white;
			line-height: 130%;
			margin-top: 780px;
			margin-left: -367px;
		}
	}
}
