.header-nav{
	@include span (12 nest);
	height: 120px;
	background-color: #333333;
	position: fixed;
	color: white;
	top: 0;
	.brand-nav{
		@include span (8 nest);
		// text-align: center;
		// background-color: orange;
		line-height: 45px;
		// text-align: center;
	}
	.trigger{
		@include span (4);
		// border:1px solid red;
		margin-top: 5px;
		padding-left: 70px;
		// margin-right: 5px;
	}
	#navigation-bar{
		@include span (12 nest);
		line-height: 45px;
		display: none;
		ul{
			margin: auto;
			padding-left: 25px;
		}
		ul li{
			list-style-type: none;
			display: inline-block;
			padding: 0px 20px;

		}
	}


	@include susy-breakpoint($desktop-size){
		@include span (12);
		background-color: black;
		height: 45px;
		position: relative;
		color: white;
		.brand-nav{
			@include span (2);
			float: left;
			line-height: 45px;
		}
		.trigger{
			display: none;
		}
		#navigation-bar{
			@include span (3);
			float: right;
			line-height: 45px;
			display: block;
		ul{
			margin: auto;
			padding-right: 5px;
			padding-left: 5px;
			float: right;
		}
		ul li{
			list-style-type: none;
			display: inline-block;

		}
	}
}
}



.content-nav{
	height: 2000px;
	background-color: #eaeaea;
	padding-top: 300px;
	text-align: center;
	font-size: 50px;


	background-image: url("http://gotceleb.com/wallpapers/wp-content/uploads/photos/katy-perry/hot-wallpapers/Katy-Perry:-Hot-Wallpapers-03.jpg");
	background-size: 360%;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	&:hover{
		background-color:white;
	}
}