.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.whites { color: #FFF; }

.wrap{
	@include span (12 nest);
	border-bottom: 1px solid #D8D8D8;
	height: 42px;
	background-color: #FFFFFF;
	position: fixed;
	z-index: 100;
	
	.logo-test{
			@include span (12);
			font-size: 22px;
			line-height: 42px;
			position: relative;
			display: none;
		}
		.logo-test-img{
			@include span (12);
			position: absolute;
			left: 45%;
			top: 4px;
			z-index: 10;
			display: block;
		}
		.trigger-test{
			@include span(2);
			display: block;
			padding: 0px 10px;
			border: 1 px solid green;
		}
		.triggerclose{
			padding: 0px 10px;
			background-color: rgba(0, 0, 0, 0.9);
		}
		#navbar-test-full{
			display: none;
			position: absolute;
			top: 0;
			ul{
				height: 100vh;
				padding: 0px;
				margin: 0px;
				width: 100vw;
				background-color: rgba(0, 0, 0, 0.9);
			}
			li{
				list-style-type: none;
				width: 100%;
				text-align: center;
				position: relative;
				top: 25%;
				a{
					text-decoration: none;
					color: white;
					display: block;
					height: 44px;
					line-height: 44px;
					border-bottom: 0.5px solid #D8D8D8;
					margin: 0px 30px;
				}
			}
		}
		.navbar-test{
			display: none;
		}
	@include susy-breakpoint($tablet-size){
		.logo-test{
			@include span (12);
			font-size: 22px;
			line-height: 42px;
			position: relative;
			display: none;
		}
		.logo-test-img{
			@include span (12);
			position: absolute;
			left: 45%;
			top: 4px;
			z-index: 10;
			display: block;
		}
		.trigger-test{
			display: block;
		}
		.navbar-test{
			display: none;
		}
		#navbar-test-full{
			display: none;
		}
	}

	@include susy-breakpoint($desktop-size){
		.header-test-fixed{
			@include container (1440px);
			.logo-test{
				@include span (3);
				font-size: 22px;
				line-height: 42px;
				position: relative;
				display: block;
				cursor: pointer;
			}
			.trigger-test{
				i{
					display: none;
				}
			}
			#navbar-test-full{
				display: none;
			}
			.logo-test-img{
				display: none;
			}
			.navbar-test{
				@include span (8);
				display: block;
				ul{
					margin: 0px;
					padding: 0px;
				}
				ul li{
					list-style-type: none;
					display: inline-block;
					padding: 0px 45px;
					font-size: 13px;
					line-height: 42px;
					position: relative;
					cursor: pointer;
					.dropdown-menu{
						@include span (24);
						position: absolute;
						display: none;
						background-color: rgba(0, 0, 0, 0.7);
						margin-left: -45px;
						ul{
							padding: 0px;
							margin: 0px;
						}
						li{
							@include span (12);
							list-style-type: none;
							padding:0px;
							i{
								position:absolute;
								right: 5px;
								top: 15px;
							}
							a{
								text-decoration: none;
								color: white;
								display: block;
								padding-left:45px;
							}
							&:hover{
								background-color: black;
								ul.side-menu{
									display: block;
								}
							}
							ul.side-menu{
								@include span (12);
								position: absolute;
								display: none;
								left: 100%;
								margin:0px;
								top: 0;
								li{
									@include span (12);
									list-style-type: none;
									display: inline-block;
									position:absolute;
									background-color: rgba(0, 0, 0, 0.7);
									top: 0;
									right: 0;
									padding:0;
									// display: none;
									a{
										text-decoration: none;
										color: white;
										display: block;
										padding-left:40px;
										&:hover{
											background-color: black;
										}
									}
								}
							}
						}
					}
					&:hover{
							background-color: #EEEEEE;
						.dropdown-menu{
							display: block;
						}
					}
				}
			}
			.search-test{
				@include span (5);
				position:absolute;
				top: 10px;
				display: none;
				left: 36%;
				transition: 3s;
				cursor: blink;
				input{
					width: 440px;
					// text-align: center;
					border: none;
				}
				i{
					padding: 0px 10px;
				}
			}
		}
	}
}

.main-content-test{
	@include span (12);
	padding-top: 42px;
			.content-test{
				@include container (1440px);
				// background-color: grey;
				h1{
					margin: 60px 0px;
					text-align: center;
					font-size: 28px;
				}
				ul{
					padding: 0px;
				}
				li{
					@include span (6);
					height: 200px;
					// border: 1px solid black;
					list-style-type: none;
					padding: 0px 15px;
					p.date{
						margin:0px;
						text-align: center;
						font-size: 80%;
					}
					.priview-image {
						img{
							width: 100%;
							height: 100px;
							opacity: 1;
							-webkit-transition: 2s ease-in-out;
							transition: 2s ease-in-out;
						}
						&:hover{
							opacity: 0.9;
							
						}
					}
					.title{
						text-align: center;
					}
					.priview-articel{
						font-size: 14px;
						line-height: 1.6;
						display: none;
				}
			}
		}

		@include susy-breakpoint($tablet-size){
				.content-test{
					@include container (1440px);
					// background-color: grey;
					h1{
						margin: 60px 0px;
						text-align: center;
						// font-size: 100%;
					}
					ul{
						padding: 0px;
					}
					li{
						@include span (6);
						height: 449px;
						// border: 1px solid black;
						list-style-type: none;
						padding: 0px 15px;
						p.date{
							margin:0px;
							text-align: center;
							font-size: 80%;
						}
						.priview-image {
							img{
								width: 100%;
								height: 300px;
								opacity: 1;
								-webkit-transition: 3s ease-in-out;
								transition: 3s ease-in-out;
								cursor: pointer;
							}
							&:hover{
								opacity: 0.9;
								
							}
						}
						.title{
							text-align: center;
						}
						.priview-articel{
							font-size: 14px;
							line-height: 1.6;
							display: block;
					}
				}
			}
			
		}


		@include susy-breakpoint($desktop-size){
				.content-test{
					@include container (1440px);
					// background-color: grey;
					h1{
						margin: 60px 0px;
						text-align: center;
						// font-size: 100%;
					}
					ul{
						padding: 0px;
					}
					li{
						@include span (4);
						height: 449px;
						// border: 1px solid black;
						list-style-type: none;
						padding: 0px 15px;
						p.date{
							margin:0px;
							text-align: center;
							font-size: 80%;
						}
						.priview-image {
							img{
								width: 100%;
								height: 300px;
								opacity: 1;
								-webkit-transition: 3s ease-in-out;
								transition: 3s ease-in-out;
								cursor: pointer;
							}
							&:hover{
								opacity: 0.9;
								
							}
						}
						.title{
							text-align: center;
						}
						.priview-articel{
							font-size: 14px;
							line-height: 1.6;
							display: block;
					}
				}
			}
			
		}
}
.footer-test{
	@include span (12);
	height: 83px;
	background-color: #F2F2F2;
	padding: 10px 0px;
	
	.main-footer-test{
			@include container(1440px);
			padding-bottom: 10px;
			border-bottom: 2px solid #D8D8D8;
			font-size: 12px;
			text-align: center;
	}
	
	.bottom-footer-test{
			@include container(1440px);
			padding-top: 10px;
			font-size: 12px;
			text-align: center;
			.fa-heart{
				color: red;
			}
			.fa-linux{
				color: orange;
			}
		}

	@include susy-breakpoint($tablet-size){
		.main-footer-test{
			@include container (1440px);
			padding-bottom: 10px;
			border-bottom: 2px solid #D8D8D8;
			font-size: 14px;
			text-align: center;
		.bottom-footer-test{
			@include container (1440px);
			padding-top: 10px;
			font-size: 14px;
			text-align: center;
			.fa-heart{
				color: red;
			}
			.fa-linux{
				color: orange;
			}
		}
	}
}

	@include susy-breakpoint($desktop-size){
		.main-footer-test{
			@include container (1440px);
			padding-bottom: 10px;
			border-bottom: 2px solid #D8D8D8;
			font-size: 16px;
			text-align: left;
		}
		.bottom-footer-test{
			@include container (1440px);
			padding-top: 10px;
			font-size: 16px;
			text-align: left;
			.fa-heart{
				color: red;
			}
			.fa-linux{
				color: orange;
			}
		}
	}
}